* {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: Arial, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e8ebf1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__menu {
  margin-right: 20px;
}
.header__menu li + li {
  margin-left: 50px;
}
.header__menu a {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 13px;
}
.header__drop-down {
  position: relative;
}
.drop-down__list {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border-bottom: 5px solid #ffb340;
  border-top: none;
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
  padding: 10px 5px;
}
.drop-down__list a {
  padding: 12px 0 12px 11px;
  font-weight: 400;
  display: block;
  text-transform: none;
}
.drop-down__list a:hover {
  color: #ffb340;
}
.header__drop-down .drop-down__list li {
  margin-left: 0;
  display: block;
}
.drop-down__list li + li a {
  border-top: 1px solid #e7e7e7;
}
.header__drop-down.drop-down {
  margin-left: 39px;
}
.header__drop-down.drop-down + .header__drop-down.drop-down {
  margin-left: 12px;
}
.header__drop-down.drop-down + .header__link-blog {
  margin-left: 20px;
}

.header__drop-down > a {
  position: relative;
  padding-left: 11px;
  padding-right: 26px;
  border-top: 5px solid transparent;
}
.header__drop-down > a::after {
  content: "";
  position: absolute;
  background-image: url(../images/down-arrow.png);
  width: 7px;
  height: 5px;
  right: 8px;
  top: 15px;
}

.header__drop-down:hover .drop-down__list {
  height: auto;
  overflow: visible;
  opacity: 1;
  transition: all 0.5s;
  z-index: 1;
}
.header__drop-down.drop-down:hover > a {
  color: #ffb340;
  border-top: 5px solid #ffb340;
  background-color: #fff;
  transition: all 0.3s;
}

.header__menu-btn {
  width: 30px;
  display: none;
}

.header__menu-row {
  width: 100%;
  background-color: #000;
  height: 4px;
  margin-bottom: 4px;
}

.slider {
  background-color: #ffb340;
  padding: 20px 0px 10px;
}

.slider__item {
  /* background-image: url(../images/slider-bg.jpg); */
  min-height: 440px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__item-title {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 55px;
  color: #fff;
  width: 400px;
  font-weight: 700;
  margin-left: 100px;
  margin-top: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(98, 98, 98, 0.5);
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  background-color: rgb(98, 98, 98, 0.5);
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-dots li button::before {
  display: none;
}
.slick-dots li {
  margin: 0 9px;
  width: auto;
  height: auto;
}
.items {
  background-color: #e8ebf1;
  padding: 60px 0 50px;
  border-bottom: 1px solid #d9d9d9;
}

.items__inner {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 225px;
  font-size: 13px;
}
.item__title {
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0 0 60px;
  margin-bottom: 30px;
  position: relative;
}
.item__icons {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffb340;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-4-plane {
  margin-left: 7px;
}
.item .item__text {
  color: #363636;
  margin-bottom: 25px;
}
.item__link {
  color: #ffb340;
  padding-left: 13px;
  position: relative;
}
.item__link::before {
  position: absolute;
  content: "";
  background-image: url(../images/icons/arrow-right.svg);
  width: 5px;
  height: 7px;
  top: 6px;
  left: 0;
}
.works__inner {
  padding: 20px 0 40px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.works__inner-item {
  margin-bottom: 40px;
}

.works__title,
.testimonials__title,
.clients__logo-title {
  font-size: 15px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 28px 0 15px 40px;
  position: relative;
  text-transform: uppercase;
}

.works__title::before,
.testimonials__title::before,
.clients__logo-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 23px;
  width: 14px;
  height: 26px;
}

.slick-arrow {
  height: 20px;
  width: 20px;
  background-color: #ffb340;
  border-radius: 50%;
}

.slick-arrow::before {
  display: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #ffb340;
}

.slick-prev {
  right: 31px;
  top: -27px;
  left: auto;
}

.slick-next {
  right: 0;
  top: -27px;
}
.works__inner {
  text-align: center;
}
.works__inner-box {
  display: inline-block;
  position: relative;
}

.works__inner-link {
  background-color: #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.works__inner-link a {
  margin: 0 15px;
}
.works__inner-box:hover .works__inner-link {
  height: 80px;
}
.slick-list {
  margin-left: -15px;
  margin-right: -15px;
}
.clients {
  padding: 0px 0px 40px;
  font-family: Arial, sans-serif;
}
.clients__inner {
  display: flex;
  justify-content: space-between;
}
.testimonials {
  min-width: 440px;
}

.testimonials__title::before {
  background-image: url(../images/clients/testi.svg);
  width: 26px;
  height: 23px;
}
.testimonials p {
  font-size: 14px;
  line-height: 24px;
  color: #363636;
}
.testimonials span {
  display: block;
  font-weight: 700;
  font-style: italic;
  padding-top: 30px;
}
.clients__logo-title::before {
  background-image: url(../images/clients/user.svg);
  width: 26px;
  height: 21px;
}
.download {
  margin-top: 40px;
  padding: 30px 40px 30px 30px;
  border: 1px solid #ffb340;
  display: flex;
  justify-content: space-between;
}
.download__text {
  font-size: 16px;
  line-height: 26px;
  color: #363636;
  max-width: 620px;
}
.download__btn a {
  padding: 20px 20px 20px 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  position: relative;
  border-radius: 8px;
  background: #ffb340;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2), inset 0px 2px 1px 0px rgba(149, 146, 146, 0.1);
}
.download__btn a::before {
  content: "";
  position: absolute;
  background-image: url(../images/clients/download.svg);
  height: 30px;
  width: 30px;
  left: 19px;
  top: 16px;
}

.footer {
  background-color: #e8ebf1;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer__item-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__item-content {
  width: 240px;
}
.footer__text {
  padding-top: 25px;
  font-size: 14px;
  color: #363636;
}
.footer__item-list {
  width: 115px;
}
.footer__list {
  padding-top: 10px;
  display: block;
}
.footer__list li {
  display: block;
}
.footer__list a {
  font-size: 14px;
  color: #363636;
  line-height: 26px;
}
.footer__item-contact {
  width: 150px;
  color: #363636;
}
.footer__adress {
  padding-bottom: 25px;
  font-size: 14px;
  margin-top: 16px;
}
.footer__adress span {
  display: block;
  line-height: 26px;
  font-weight: 700;
}
.footer__phone {
  color: #363636;
  font-size: 14px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-size: 13px;
  line-height: 18px;
  color: #363636;
  max-width: 650px;
}
